:root {
	--accent-colour: #ffce1e;
}
* {
  box-sizing: border-box;
}

table {
	width:100%;
	margin:auto;
	text-align:center;
	font-weight: normal;
}

th {
	font-weight: bold;
}

.formBut {
	font-size:20px;
	width:100px;
}

.p1 {
  text-align: center;
  color: #ffff33;
  font-weight: 700;
}
input, select{
  border-width: 1px;
  border-color: black;
  outline: none;
  border-style: solid;
  border-radius: 3px;
  font-size: 100%;
  height: 35px;
  width: 90%;
  border-width:0px;

}

.page-container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom:30px;
  text-align: center;
  background: #444444;
  color: var(--accent-colour);
  font-weight: 700;
  margin: auto;
  font-size: 90%;
  border-style: solid;
  border-color: #444444;
  border-radius: 10px;
  border-width: 1px;
}
.logo {
	width: 125px;
	align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;}

body {
background-image: url('/src/Make-It-AllBackground.png');
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

textarea {
	resize: none;
	overflow-y: auto;
}

.make-it-all-text {
    width: 800px;
	  align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

}

.wide-button{ width: 90%;
  height: 40px;
  background: #F6D300;
  color:#AA4300;
  font-size: 110%;
  font-weight: 700;
  border-color: #F6D300;
  border-radius: 5px;
  border: none;
}
